.aboutSection {
    height: 100%;
    width: 100%;
    background-color: var(--white);
    position: absolute;
    z-index: 2;
}

/* ================================ */
/* ABOUT: ICON & TITLE */
/* ================================ */

.openBook {
    width: 10%;
    height: 50px;
}

.aboutHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
}

/* ================================ */
/* ABOUT: CONTENT & SOCIAL MEDIA */
/* ================================ */

.aboutContent {
    text-align: center;
}

.socialMedia {
  padding-top: 3em;
  width: 6em;
  height: 6em;
}

@media screen and (max-width: 650px) {
    .aboutContent {
        width: 95%;
        margin: 0 auto;
    }

    .aboutHeader {
        margin: 0 auto;
    }
}