.openBook {
  width: 10%;
  height: 50px;
}

.aboutSection {
  height: 50em;
  background-color: white;
  padding: 1em;
  position: absolute;
}
.aboutInfo {
  padding: 0 7em;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
}

.aboutTitle {
  text-align: center;
  text-transform: lowercase;
  color: #199813;
  font-size: 3em;
}
