.openBook {
  width: 10%;
  height: 50px;
}

.aboutHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}

.aboutSection {
  height: 100vh;
  width: 100%;
  background-color: #e3e1dd;
  /* padding: 1em; */
  position: absolute;
}
.aboutInfo {
  padding: 0 10em;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1.5em;
  width: 50%;
  margin: auto;
  line-height: 1.6;
}


.signUpLink {
  color: #ffba00;
}

.socialMedia {
  padding-top: 3em;
  width: 6em;
  height: 6em;
}

.aboutContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}
