/* * {
border: 1px solid seagreen;
} */

main {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

/* ENTIRE BOOK */
#book {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 85%;
    padding: 30px;
    border-radius: 5px;
    background-color: #392109;
    box-shadow: 0px 0px 35px -5px #191919;
}

/* FAKE PAGES */

.fake-pages {
    background-color: #aeada8;
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.next-page {
    cursor: e-resize;
}

.previous-page {
    cursor: w-resize;
}

.fake-line {
    width: 5%;
    height: 100%;
    background-color: #9f9e98;
}

#spine {
    width: 2px;
    height: 100%;
    background-color: #b8b7b1;
}

/* BOOK SIDES */
#book-left, #book-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #e3e1dd;
}

#book-left {
    justify-content: flex-end;
}

#book-right {
    justify-content: flex-start;
}

/* BOOK PAGES */
#left-page, #right-page {
    width: 95%;
    height: 101%;
    background-color: #e3e1dd;
    border: 1px solid #cbcbcb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left-page {
    border-radius: 0px 5% 5% 0px;
    box-shadow: -20px 0px 40px 15px #1f1f1fa1;
}

#right-page {
    border-radius: 5% 0px 0px 5%;
    box-shadow: 20px 0px 40px 15px #1f1f1fa1;
}

.text-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 95%;
}

.green {
    color: #199813;
}

/* FORM */
.moreDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-form > input[type="text"] {
    width: 90%;
}

/* BUTTONS */
    .button {
        padding: 5px 15px;
        color: #ffffff;
        text-align: center;
        border-radius: 5px;
        margin: 10px 0;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 0.75rem;
    }

    .button-group {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .bg-black {
        background-color: #191919;
    }

    .bg-green {
       background-color: #199813; 
    }

    .bg-gold {
        background-color: #ffba00;
        color: #191919;
    }

    .bg-blue {
        background-color: #005fcc;
    }