/* ================================ */
/* BOOK */
/* ================================ */

#book {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 85%;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--brown);
    box-shadow: 0px 0px 35px -5px var(--black);
}

/* ================================ */
/* FAKE PAGES (LEFT & RIGHT) */
/* ================================ */

.fake-pages {
    background-color: #aeada8;
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fake-line {
    width: 5%;
    height: 100%;
    background-color: #9b9a96;
}

/* ================================ */
/* CURSORS (LEFT/RIGHT IN FULL SCREEN) & SPINE */
/* ================================ */
.next-page {
    cursor: e-resize;
}

.previous-page {
    cursor: w-resize;
}


#spine {
    width: 2px;
    height: 100%;
    background-color: #5b5a56;
}

/* ================================ */
/* BOOK SIDES (INCLUDES FIXED PAPER) */
/* ================================ */
#book-left, #book-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: var(--dirtysun);
}

#book-left {
    justify-content: flex-end;
}

#book-right {
    justify-content: flex-start;
}

/* ================================ */
/* BOOK PAGES */
/* ================================ */
#left-page, #right-page {
    width: 95%;
    height: 101%;
    background-color: #e3e1dd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left-page {
    border-radius: 0px 5% 5% 0px;
    box-shadow: -20px 0px 40px -5px #1f1f1fa1;
    box-shadow: inset -112px 0px 50px -79px #8a8271;
}

#left-page-mobile {
    display: none;
}


#right-page {
    border-radius: 5% 0px 0px 5%;
    box-shadow: 20px 0px 40px -5px #1f1f1fa1;
    box-shadow: inset 112px 0px 50px -79px #8a8271;
}

.text-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 95%;
    text-align: center;
}

/* ================================ */
/* BOOK FORM */
/* ================================ */
.moreDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* BUTTONS */
.edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 0;
}


/* ================================ */
/* ANIMATIONS (PAGE TURN & TEXT FADE IN) (NON-MOBILE ONLY) */
/* ================================ */

.swing-in-right-bck {
    animation: swing-in-right-bck 4s cubic-bezier(0.165, 0.840, 0.440, 1.000) 1s both;
}

.fade-in {
    animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

@keyframes swing-in-right-bck {
0% {
    -webkit-transform: rotateY(70deg);
            transform: rotateY(70deg);
    -webkit-transform-origin: right;
            transform-origin: right;
    opacity: 0;
}
100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    opacity: 1;
}
}

@keyframes fade-in {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

/* ================================ */
/* MEDIA QUERY, MAX 650 */
/* ================================ */
@media screen and (max-width: 650px) {
    #book {
        flex-direction : column;
        justify-content: flex-end;
        width: 75vw;
        height: 95%;
        padding: 15px;
    }

    #book button {
        /* font-weight: bolder; */
        text-transform: lowercase;
        padding: 10px 15px;
        color: var(--white);
        border-radius: 1em;
        cursor: pointer;
        margin: 10px;
        font-size: 0.75rem;
    }

    /* BOOK SIDES */
    #book-left, #book-right {
        flex-direction: column;
        width: 100%;
        height: 50%;
    }

    /* FAKE PAGES */
    .fake-pages {
        width: 100%;
        height: 5%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .fake-line {
        height: 5%;
        width: 100%;
    }

    .next-page {
        cursor: s-resize;
        order: 4;
    }
    
    .previous-page {
        cursor: n-resize;
        order: 1;
    }

    #spine {
        height: 2px;
        width: 100%;
    }

    /* BOOK PAGES */
#left-page, #right-page {
    height: 95%;
    width: 101%;
    background-color: #e3e1dd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left-page {
    border-radius: 0 0 5% 5%;
    box-shadow: 0px -100px 40px -5px #1f1f1fa1;
    box-shadow: inset 0px -112px 50px -79px #8a8271;
    order: 2;
}

#right-page {
    border-radius: 5% 5% 0 0;
    box-shadow: 0px 20px 40px -5px #1f1f1fa1;
    box-shadow: inset 0px 112px 50px -79px #8a8271;
    order: 3;
}

.edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.swing-in-right-bck {
    animation: swing-in-bottom-bck 4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.5s both;
}

.fade-in {
    animation: fade-in 0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes swing-in-right-bck {
    0% {
      -webkit-transform: rotateX(-70deg);
              transform: rotateX(-70deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 1;
    }
  }
  @keyframes swing-in-right-bck {
    0% {
      -webkit-transform: rotateX(-70deg);
              transform: rotateX(-70deg);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
      opacity: 1;
    }
  }

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

}
  