header nav {
  display: flex;
  justify-content: space-around;
  background-color: #39210966;
  padding: 0.7em;
  font-size: 1.4em;
  transition-duration: 1s;
}

header nav:hover{
  background-color: #392109cc;
}

nav a:hover{
  color: var(--yellow);
}

header form{
  display: block;
  text-align: center;
  margin: 1em auto;
}

header .user-greeting{
  display: flex;
  justify-content: flex-start;
}

/* MODAL */

.my-modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-text{
  background-color: white;
  padding: 1em;
  margin: 1em auto;
  height: 80vh;
  width: 80%;
  max-width: 90%;
  border-radius: 1em;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-text ul{
  margin-left: -3em;
  width: 100%;
  text-align: center;
  overflow: scroll;
  overflow-x: hidden;
}

.modal-text li{
  border: 1px solid #ccc;
  padding: 1em 0;
  width: 100%;
  list-style-type: none;
  font-family: 'Merriweather';
  font-size: 1.5em;
}

.modal-text li:hover{
  background-color: #ccc;
}

.chapter-list{
  background-color: rgba(255,255,255,0.8);
}

.chapter-list ul{
  height: 100%;
}

.chapter-buttons{
  display: flex;
  justify-content: space-around;
}

.chapter-buttons span{
  display: flex;
  justify-content: space-around;
}

.chapter-buttons button{
  width: 200px;
  font-size: 0.5em;
}

/* .add-chapter-form{
  margin-top: 10em;
} */

@media screen and (max-width: 650px) {
    header form {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    header input {
        margin: 10px auto;
    }

    label {
        display: none;
    }

    .break {
        display: block;
    }

}
