header nav {
  display: flex;
  justify-content: space-around;
  background-color: #39210966;
  padding: 0.7em;
  font-size: 1.4em;
  transition-duration: 1s;
}

header nav:hover{
  background-color: #392109cc;
}

nav a:hover{
  color: var(--yellow);
}

header form{
  display: block;
  text-align: center;
  margin: 1em auto;
}

header .user-greeting{
  display: flex;
  justify-content: flex-start;
}