

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: var(--yellow);
  }

/* == OVERALL BODY == */
body {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    background: url('images/bg-wood-plant.jpg') no-repeat;
    background-size: cover;
    color: var(--lightgrey);
    background-color: #cdc3a5;
}

/* == ABOUT SPECIFICS == */
.aboutSection {
  height: 100vh;
  background-color: white;
  padding: 1em;
  position: absolute;
  z-index: 1;
}
.aboutInfo {
  padding: 0 7em;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
}

.aboutTitle {
  text-align: center;
  text-transform: lowercase;
  color: var(--green);
  font-size: 3em;
}

/* == BUTTONS & FORMS == */
button {
    font-weight: bolder;
    text-transform: lowercase;
    padding: 10px 15px;
    color: var(--white);
    border-radius: 1em;
    cursor: pointer;
    margin: 10px;
}

input {
    height: 2em;
    width: 15em;
    border-radius: 0.5em;
    outline-color: var(--green);
    padding: 0 10px;
    font-family: "Merriweather", serif;
    box-shadow: 20px 0px 40px -5px #1f1f1fa1;
    border: 2px solid var(--black);
    /* margin-left: 20px;
    margin-right: 20px; */
}

::placeholder {
    font-family: "Merriweather", serif;
    color: var(--black);
}

@media screen and (max-width: 650px) {
    input {
        height: 2em;
        width: 15em;
        border-radius: 0.5em;
        outline-color: var(--green);
        padding: 0 10px;
        font-family: "Merriweather", serif;
        border: 2px solid var(--black);
    }
}
