
<div ng-show="showAbout" class="aboutSection">
  <img class="openBook" src="css/images/openbook.png" alt="open book">
  <h1 class="aboutTitle">About PostScript</h1>
  <p class="aboutInfo">
  Ready to create an epic tale? <br><br>
  You can sign up for an account and add to the story, one sentence at a time. <br><br>
  You can edit your sentences (only yours!) by double-clicking on them.<br><br>
  Invite your friends so that you can work together to something great...or hilarous...most likely something in-between.
  </p>
</div>
