
<div ng-show="showAbout" class="aboutSection">
  <div class="aboutHeader">
    <img class="openBook" src="css/images/openbook.png" alt="open book">
    <h1>About PostScript</h1>
  </div>
  <div class="aboutContent">
      <p class="aboutInfo">
      <i>Ready to create an epic tale?</i><br><br>
      You can <strong><a class="signUpLink" href="#" ng-click="auth.toggleModal('signup')"
      ng-if="!currentUser">sign up</a></strong> for an account and add to the story, one sentence at a time. <br><br>
      You can also <strong class="text-green">edit/delete</strong> your sentences (<i> only yours! </i>) by double-clicking on them.<br><br>
      </p>
      <h2 class="aboutInfo text-green">Invite your friends!</h2><br>
      <p class="aboutInfo">
      So that you can work together to create something great...or hilarious...or something in-between.
      </p>
      <a href="https://github.com/winslowdev/posthistoric"><img class="socialMedia" src="css/images/socialmedia.png" alt="social media buttons"></a>
  </div>
</div>
