
<div ng-show="showAbout" class="aboutSection">
  <div class="aboutHeader">
    <img class="openBook" src="css/images/openbook.png" alt="open book">
    <h1 class="text-green">About PostScript</h1>
  </div>
  <div class="aboutContent">
      <p>
      <i>Ready to create an epic tale?</i><br><br>
      You can <strong><a class="text-yellow" href="#" ng-click="auth.toggleModal('signup')"
      ng-if="!currentUser">sign up</a></strong> for an account and add to the story, one sentence at a time. <br><br>
      You can also <strong class="text-green">edit/delete</strong> your sentences (<i> only yours! </i>) by double-clicking on them.<br><br>
      </p>
      <p class="text-green"><strong>Invite your friends!</strong></p><br>
      <p>
      So that you can work together to create something great...or hilarious...or something in-between.
      </p>
      <a href="https://github.com/winslowdev/posthistoric"><img class="socialMedia" src="css/images/socialmedia.png" alt="social media buttons"></a>
  </div>
</div>