<div id="book">
    <div id="book-left">

        <!-- LEFT SIDE FAKE LINES AND CLICKABLE AREA -->
            <div class="fake-pages previous-page"
            ng-if="ctrl.currentStoryIndex >= 1"
            ng-click="ctrl.currentStoryIndex = ctrl.currentStoryIndex-2"
                title="previous page">
            <div class="fake-line"></div>
            <div class="fake-line"></div>
            <div class="fake-line"></div>
            <div class="fake-line"></div>
            <div class="fake-line"></div>
            <div class="fake-line"></div>
    </div>

        <div id="left-page">
            <div class="text-area">

              <!-- AUTHOR TAG -->
                <h2>by
                    <span class="green">
                      {{ ctrl.stories[ctrl.currentStoryIndex].author }}
                    </span>
                </h2>

                <!-- TEXT OF STORY -->
                <h3 ng-dblclick="ctrl.indexOfEditFormToShow = $index">
                  {{ ctrl.stories[ctrl.currentStoryIndex].text }}
                </h3>

                <!-- EDIT SECTION -->
                  <div ng-if="currentUser.username === ctrl.stories[ctrl.currentStoryIndex].author" class="moreDetails" ng-show="ctrl.indexOfEditFormToShow === $index">
                      <h4>
                          Edit Sentence
                      </h4>

                      <!-- EDIT FORM -->
                      <form ng-submit="ctrl.editStory(ctrl.stories[ctrl.currentStoryIndex]);">

                        <input type="text" ng-model="ctrl.updatedText" ng-value="ctrl.stories[ctrl.currentStoryIndex].text">

                        <input type="submit" value="Update">
                      </form>

                      <!-- DELETE BUTTON -->
                      <button class="button" ng-click="ctrl.deleteStory(ctrl.stories[ctrl.currentStoryIndex])">Delete</button>

                      <!-- HIDE FORM BUTTON -->
                      <button class="button" ng-click="ctrl.indexOfEditFormToShow = null">
                        Hide edit form
                      </button>

                    </div>

                <!-- PAGE NUMBER -->
                <h2>{{ ctrl.currentStoryIndex+1 }}</h2>
            </div>
        </div>
    </div>

    <div id="spine"></div>

    <!-- ///// RIGHT PAGE ///// -->
    <div id="book-right">
        <div id="right-page">
            <div class="text-area">

              <!-- AUTHOR TAG -->
                <h2>by
                    <span class="green">
                      {{ ctrl.stories[ctrl.currentStoryIndex+1].author }}
                    </span>
                </h2>

                <!-- TEXT OF STORY -->
                <h3 ng-dblclick="ctrl.indexOfEditFormToShow = $index+1">
                  {{ ctrl.stories[ctrl.currentStoryIndex+1].text }}
                </h3>

                <!-- EDIT SECTION -->
                <div ng-if="currentUser.username === ctrl.stories[ctrl.currentStoryIndex+1].author" class="moreDetails" ng-show="ctrl.indexOfEditFormToShow === $index+1">
                    <h4>
                        Edit Sentence
                    </h4>

                    <!-- EDIT FORM -->
                    <form ng-submit="ctrl.editStory(ctrl.stories[ctrl.currentStoryIndex+1]);">
                      <input type="text" ng-model="ctrl.updatedText" ng-value=" ctrl.stories[ctrl.currentStoryIndex+1].text">
                      <input type="submit" value="Update">
                    </form>

                    <!-- DELETE BUTTON -->
                    <button class="button" ng-click="ctrl.deleteStory(ctrl.stories[ctrl.currentStoryIndex+1])">
                      Delete
                    </button>

                    <!-- HIDE FORM BUTTON -->
                    <button class="button" ng-click="ctrl.indexOfEditFormToShow = null">
                      Hide edit form
                    </button>

                  </div>

                <!-- PAGE NUMBER -->
                <h2>{{ ctrl.currentStoryIndex+2 }}</h2>

            </div>
        </div>
        <!-- ctrl.stories[ctrl.currentStoryIndex+1].text -->
            <!-- RIGHT SIDE FAKE LINES AND CLICKABLE AREA -->
                <div class="fake-pages next-page"
                    ng-if="ctrl.currentStoryIndex < ctrl.stories.length-2"
                    ng-click="ctrl.currentStoryIndex = ctrl.currentStoryIndex+2"
                    title="next page">
                <div class="fake-line"></div>
                <div class="fake-line"></div>
                <div class="fake-line"></div>
                <div class="fake-line"></div>
                <div class="fake-line"></div>
                <div class="fake-line"></div>
        </div>
    </div>
</div>
