<div id="book">
    <div id="book-left">

        <!-- LEFT SIDE FAKE LINES AND CLICKABLE AREA -->
        <div class="fake-pages" ng-click="">
            <div class="fake-line"></div>
            <div class="fake-line"></div>
            <div class="fake-line"></div>
            <div class="fake-line"></div>
            <div class="fake-line"></div>
            <div class="fake-line"></div>
        </div>

        <div id="left-page">
            <div class="text-area">
                <h2>by 
                    <span class="green">{{ ctrl.stories[ctrl.currentStoryIndex].author }}</span></h2>
                <h3>{{ ctrl.stories[ctrl.currentStoryIndex].text }}</h3>
                <h2>{{ ctrl.currentStoryIndex+1 }}</h2>
            </div>
        </div>
    </div>

    <div id="spine"></div>

    <div id="book-right">
        <div id="right-page">
            <div class="text-area">
                <h2>by
                    <span class="green">{{ ctrl.stories[ctrl.currentStoryIndex+1].author }}</span></h2>
                <h3>{{ ctrl.stories[ctrl.currentStoryIndex+1].text }}</h3>
                <h2>{{ ctrl.currentStoryIndex+2 }}</h2>
            </div>
        </div>

        <!-- RIGHT SIDE FAKE LINES AND CLICKABLE AREA -->
        <div class="fake-pages" ng-click="">
            <div class="fake-line"></div>
            <div class="fake-line"></div>
            <div class="fake-line"></div>
            <div class="fake-line"></div>
            <div class="fake-line"></div>
            <div class="fake-line"></div>
        </div>
    </div>
</div>