  <h4 class="doubleClick">(Double-click your sentence to edit/delete)</h4>
<div class="add-story" ng-class="(ctrl.text.length > 200) ? 'overlimit': ''">
  <img class="featherpen" src="css/images/featherpen.png" alt="featherpen">
  <h2 class="footerHeader green">Add To The Story</h2>
  <form ng-submit="ctrl.createStory()">
    <input type="text" ng-model="ctrl.text" placeholder="Once upon a time..."/>
    <button type="submit" class="green" value="add">Add</button>
  </form>
  <div ng-if="ctrl.text.length < 200">
    <b>{{200 - ctrl.text.length}}</b>
  </div>
  <div class="char-limit-msg" ng-if="ctrl.text.length > 200">
    <b>{{200 - ctrl.text.length}}</b> Story cannot be longer than 200 characters.
  </div>
</div>


  <div class="table-of-contents">
    <h2>Table of contents:</h2>
    <ul>
      <li ng-repeat="story in ctrl.stories" ng-if="$index % 2 === 0">
        <a
          href="#"
          ng-click="ctrl.currentStoryIndex = $index">
          {{$index + 1}} - {{$index + 2}}
        </a>
      </li>
    </ul>
  </div>

<h4>made with &#10084; by the a-team</h4>
