<nav>
  <a href="javascript:window.location.reload(true)">Home</a>
  <a href="#" ng-click="auth.toggleModal('about')">About</a>

  <!-- LOG IN/SIGN UP BUTTONS FOR GUESTS -->
  <a
    href="#" ng-click="auth.toggleModal('signup')"
    ng-if="!currentUser">
    Sign Up
  </a>
  <a href="#" ng-click="auth.toggleModal('login')"
    ng-if="!currentUser">
    Log In
  </a>

  <!-- LOG OUT BUTTON FOR USERS -->
  <a href="#" ng-click="auth.logout()" ng-if="currentUser">
    Log out {{currentUser.username}}
  </a>

  <!-- CHAPTER SELECT -->
  <a href="#" ng-click="auth.toggleModal('chapters')">
    Chapters
  </a>

</nav>

<!-- SIGNUP FORM -->
<form ng-if="auth.showSignup" ng-submit="auth.signup()">
  <label for="Username">Username</label>
  <input type="text" ng-model="auth.newUsername" placeholder="Username">

  <label for="Password">Password</label>
  <input type="password" ng-model="auth.newPassword" placeholder="Password">

  <button type="submit" class="break green" value="Sign Up">Sign Up</button>

</form>

<!-- LOGIN FORM -->
<form ng-if="auth.showLogin" ng-submit="auth.login()">
  <label for="Username">Username</label>
  <input type="text" ng-model="auth.username" placeholder="Username">

  <label for="Password">Password</label>
  <input type="password" ng-model="auth.password" placeholder="Password">

  <button type="submit" class="break green" value="Log in">Log In</button>

</form>

<!-- CHAPTER LIST MODAL -->
<div ng-if="auth.showChapters" class="my-modal">

  <div class="modal-text chapter-list">

    <ul>

      <!-- CHAPTER TITLE -->
      <li ng-repeat="chapter in ctrl.chapters">
        {{chapter}}

        <!-- BUTTONS -->
        <div class="chapter-buttons">

          <!-- CHANGE CHAPTER BUTTON -->
          <button
            ng-click="ctrl.changeChapter(chapter); auth.toggleModal('chapters')"
            class="green">
            Switch to this chapter
          </button>

          <!-- EDIT AND DELETE BUTTONS -->
          <span ng-if="currentUser.username === 'ahlisa' || currentUser.username === 'addison' || currentUser.username === 'aegean'" >

            <!-- SHOW EDIT FORM BUTTON -->
            <button ng-click="ctrl.indexOfChapEditToShow = $index"
              class="golden">
              Update title
            </button>

            <!-- HIDE EDIT FORM BUTTON -->
            <button
              ng-if="ctrl.indexOfChapEditToShow === $index"
              ng-click="ctrl.indexOfChapEditToShow = null"
              class="darkgrey">
              Hide edit form
            </button>

            <!-- DELETE BUTTON -->
            <button ng-click="ctrl.deleteChapter(chapter)"
              class="blue">
              Delete chapter
            </button>

          </span>

        </div>

        <!-- EDIT CHAPTER FORM -->
        <form ng-if="ctrl.indexOfChapEditToShow === $index" ng-submit="ctrl.editChapter(chapter)">
          <input type="text" ng-value="chapter" ng-model="ctrl.updatedChapter">
          <input type="submit" value="Update title">
        </form>
      </li>
    </ul>

    <!-- ADD CHAPTER FORM -->
    <div class="add-chapter-form">
      <input type="text" ng-model="newChapter" placeholder="Start a new chapter.">
      <button class="green" ng-click="ctrl.createChapter(newChapter); auth.toggleModal('chapters')">
        Add
      </button>
    </div>

  </div>

</div>


<div ng-include="'partials/about.html'">
</div>
